<!--{template header}-->
<section class="am-container" >
    <form class="am-form" method="post" action="{url user/register}">
        <br/>
        <input class="am-form-field am-input-lg" name="username" id="username" type="text" placeholder="请输入账号">
        <br/>

        <input class="am-form-field am-input-lg" type="password" name="password" id="password" placeholder="密码">
        <br/>
        <input class="am-form-field am-input-lg" type="password"  name="repassword" id="repassword" placeholder="确认密码">
        <br/>
        <input class="am-form-field am-input-lg" type="email"  name="email" id="email" placeholder="邮箱号，最好是qq邮箱">
        <br/>

        <!--{if $setting['code_register']}-->
        <input type="text" id="code" name="code" onblur="check_code();" class="am-form-field" placeholder="输入你的验证码">
              <p>

              
       <span class="verifycode"><img  src="{url user/code}" onclick="javascript:updatecode();" id="verifycode"></span>
    
      <span id="codetip"></span>
       <a class="changecode" href="javascript:updatecode();">&nbsp;看不清?</a>
       </p>

        <!--{/if}-->

                 	       <input type="hidden" name="usersid" value='{$_SESSION["userid"]}'/>
        <button type="submit" onclick="docheck();" name="submit"  class="am-btn am-btn-primary am-btn-block">注册</button>
  <input type="hidden" name="forward" value="{$forward}"/>
    </form>
    <p class="am-cf"><a href="{url user/login}" class="am-fl">登陆</a> <a href="{url user/getpass}" class="am-fr">忘记密码</a></p>
   

         <!--{if $setting['sinalogin_open']}-->
          <p>
                <span><a href="{SITE_URL}plugin/sinalogin/index.php"><img src="{SITE_URL}css/default/sina_login_btn.png" alt="Connect_logo_3.png"></a></span>
                <!--{/if}-->
                <!--{if $setting['qqlogin_open']}-->
                <span><a href="{SITE_URL}plugin/wapqqlogin/index.php"><img src="{SITE_URL}css/default/qq_login_btn.png" alt="Connect_logo_3.png"></a></span>
                  </p>
                <!--{/if}-->
  
   </section>
   <!--{template footer}-->